.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.side {
    color: black;
    width: 700px;
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 0 auto
}
.height_200 {
    height: 200px;
}
.height_60 {
    height: 60px;
}