/* Basic Style */

  .todo container {
    display: block;
    width: 400px;
    margin: 100px auto 0;
  }
  .todo ul {
    margin: 0;
    padding: 0;
  }
  .todo ul > li * {
    float: left;
  }
  .todo ul > li, h3 {
    clear:both;
    list-style:none;
  }
  .todo input, .todo button {
    outline: none;
  }
  .todo button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  .todo button:hover {
    color: #333;
  }
  /* Heading */
  .todo h3,
  .todo label[for='new-task'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }
  .todo input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  .todo input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  .todo label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  .todo input#new-task {
    float: left;
    width: 318px;
  }
  .todo p > button:hover {
    color: #0FC57C;
  }
  
  /* Task list */
  .todo ul > li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  .todo ul > li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  .todo ul > li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  .todo ul > li >  input[type="text"] {
    width: 226px;
  }
  .todo ul > li > .delete:hover {
    color: #CF2323;
  }
  
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  .todo ul li input[type=text] {
    display:none;
  }
  
  .todo ul li.editMode input[type=text] {
    display:block;
  }
  
  .todo ul li.editMode label {
    display:none;
  }