table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #000;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 30%;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.basic-btn {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
textarea {
    width: 1000px;
    height: 500px;
}
input {
    width: 1000px;
}